.hoverable:hover {
    font-weight: bolder;
    background-color: dodgerblue;
    color:black;
}

body{
    text-align: center;
    background-color: #000044;
}
*{
    margin: 1%;
}

.col-xl, .col-lg, .col-sm{
    /*margin-top:auto;
    margin-bottom: auto;*/
    margin-left: 1%;
    padding:3%;
    text-align: center;
    font-size: 1em;
    color:white;
    background-color:black;
    
}
.container{
    padding:1%;
    background-color: darkblue;
}

#button{
    margin:auto;
}
.left-col{
    text-align: right;
}
.right-col{
    text-align: left;
}