body{
    color:crimson;
    text-align: center;
}

p{
    font-style:italic; max-width:750px; margin:auto;
}

p b{
display:none;
}

blockquote{
    display:none;
    font-style: oblique;
}

a{
    color: blue;
}
a:hover{
    font-size: 1.2em;
    font-style: normal;
}